.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background:
    radial-gradient(circle at top left, #FFE0B2 0%, #FFE0B2 25%, transparent 55%),
    radial-gradient(circle at bottom right, #d4f5d4 0%, #d4f5d4 25%, transparent 55%),
    #f5f7fa;
}

.login-container {
  position: relative;
  z-index: 1;
}

.login-container {
  width: 100%;
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.login-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #2e7d32;
  margin-bottom: 6px;
}

.login-subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Toggle Buttons */
.login-toggle {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.login-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: #f5f5f5;
  color: #555;
}

.login-toggle button.active {
  background: #4caf50;
  color: white;
}

/* Inputs */
.login-input {
  width: 93%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 14px;
  font-size: 14px;
}

/* Buttons */
.login-btn {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #43a047;
}

/* Links */
.login-footer {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}

.login-footer a {
  color: #4caf50;
  font-weight: 600;
  text-decoration: none;
}

/* .login-anonym {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #999;
} */

.sky-icons {
  position: absolute;
  top: 40px;
  left: 130px;
  display: flex;
  gap: 18px;
  opacity: 0.5;
  pointer-events: none;
}

.bird-icon {
  width: 50px;
  height: auto;
}

/* slightly different size/position to look natural */
.bird1 {
  transform: scale(1.5) ;
}

.bird2 {
  transform: scale(1.2) translateY(55px) translateX(-115px);
}

.tree-icons {
  position: absolute;
  bottom: 0px;
  right: -30px;
  display: flex;
  opacity: 0.5;
  pointer-events: none;
}

.tree-icon {
  width: 100px;
  height: auto;
}

.tree1 {
  transform: scale(1.6) translateY(-9px) translateX(37px);
}

.tree2 {
  transform: scale(2) translateY(-12px);
}

.sun-icons {
  position: absolute;
  top: -30px;
  left: -30px;
  display: flex;
  opacity: 0.4;
  pointer-events: none;
}

.sun-icon {
  width: 90px;
  height: auto;
}

.lion-icons {
  position: absolute;
  bottom: -13px;
  right: 23%;
  display: flex;
  opacity: 0.6;
  pointer-events: none;
}

.lion-icon {
  width: 80px;
  height: auto;
}

.bush-icons {
  position: absolute;
  bottom: -13px;
  left: -20px;
  display: flex;
  opacity: 0.5;
  pointer-events: none;
}

.bush-icon {
  width: 80px;
  height: auto;
}

.bush2 {
  transform: translateX(-30px);
}

.rabbit-icons {
  position: absolute;
  bottom: -3px;
  left: 28%;
  display: flex;
  opacity: 0.6;
  pointer-events: none;
}

.rabbit-icon {
  width: 35px;
  height: auto;
}